{% macro notification_styles() %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/notifications.css') }}">
{% endmacro %}

{% macro success_message(message=None, id="success-message", js_id="js-success-message") %}
{% if message %}
<div class="message success-message closable" id="{{ id }}">
    <span>{{ message }}</span>
    <button type="button" class="close-button" data-action="close">&times;</button>
</div>
{% else %}
<!-- Success message container for JavaScript-created messages -->
<div class="message success-message closable" id="{{ js_id }}" style="display: none;">
    <span id="js-success-text"></span>
    <button type="button" class="close-button" data-action="close">&times;</button>
</div>
{% endif %}
{% endmacro %}

{% macro error_message(message=None, id="error-message", js_id="js-error-message") %}
{% if message %}
<div class="message error-message closable" id="{{ id }}">
    <span>{{ message }}</span>
    <button type="button" class="close-button" data-action="close">&times;</button>
</div>
{% else %}
<!-- Error message container for JavaScript-created messages -->
<div class="message error-message closable" id="{{ js_id }}" style="display: none;">
    <span id="js-error-text"></span>
    <button type="button" class="close-button" data-action="close">&times;</button>
</div>
{% endif %}
{% endmacro %}

{% macro notification_container() %}
<div class="message-container">
    {{ success_message() }}
    {{ error_message() }}
</div>
{% endmacro %}

{% macro notification_js() %}
<script src="{{ url_for('static', filename='js/ui_events.js') }}"></script>
<script src="{{ url_for('static', filename='js/url_params.js') }}"></script>
{% endmacro %} 